body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

.btn {
  height: 60px;
  width: 60px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
  align-items: center;
  background-color: rgb(51, 51, 51);
}

.operation-btn {
  background-color:  rgb(254, 160, 10);
}

.result {
  margin-left: 10px;
  font-size: 35px;
}


